{% extends 'main.html' %} {% load static %} {% block title %} Home {% endblock title %}
{% block content %}

<div class="container mt-5">
	{% if request.user.is_authenticated %}
	<h1 class="text-center pb-5">Welcome {{user}}</h1>
	{% else %}
	<h1 class="text-center pb-5">Welcome guest!</h1>
	{% endif %}
	<p>&emsp;This is a web application that allows users to register and login to their account. The main functionality of the app is to display simulated data based on a minimum and maximum value, which represents temperature. The app generates random temperature values within the specified range and displays them in a table along with the timestamp of when they were added. 
	<p>&emsp;The app also displays the current temperature value and alerts the user if the temperature is too low or too high, indicating if it's near the limit or if it's beyond the limit. </p>
	<p>&emsp;Furthermore, the app provides a download to CSV option that allows users to download their data in CSV format. </p>
	<p>&emsp;In summary, this app is a simple temperature monitoring system that allows users to track and download their temperature data while providing real-time alerts when the temperature is out of the specified range.</p>
</div>
{% endblock %}
