{% extends 'main.html' %} {% load static %} {% block title %} View data {% endblock title %}
{% block content %}

<div class="container mt-5">
	{% if request.user.is_authenticated %}
    <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center">Sensor Data</h5>
              <h5 class="card-title">Generate value:{{value}}</h5>
              <canvas id="myChart"></canvas>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Settings</h5>
              <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="minValue" class="form-label">Minimum Value</label>
                  <input type="number" class="form-control" name="minValue" id="minValue" value="{{min_value}}">
                </div>
                <div class="mb-3">
                  <label for="maxValue" class="form-label">Maximum Value</label>
                  <input type="number" class="form-control" name="maxValue" id="maxValue" value="{{max_value}}">
                </div>
                <input type="submit" value="Start" class="btn btn-success me-2" id="startBtn">
                <a class="btn btn-danger me-2" id="stopBtn">Stop</a>
                <a class="btn btn-primary" href="{% url 'download-data' %}" id="saveBtn">Save</a>

              </form>
            </div>
          </div>
          <div class="card mt-3">
            <div class="card-body">
              <h5 class="card-title">Data Table</h5>
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Times</th>
                      <th scope="col">Value</th>
                    </tr>
                  </thead>
                  <tbody id="dataTableBody">
                    {% for value in data%}
                    <tr>
                      <td>{{value.id}}</td>
                      <td>{{ value.timestamp|date:"Y-m-d H:i:s" }}</td>
                      <td>{{value.value}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% comment %} <script src="{% static 'scripts/script.js' %}"></script> {% endcomment %}

	{% else %}
    <div class="mt-5">
          <h1 class="text-danger text-center">You must be logged in to access this page!</h1>
      </div>
	{% endif %}
</div>
{% endblock %}
