{% extends 'main.html' %} {% load static %} {% block title %} View data {% endblock title %}
{% block content %}

<div class="container mt-5">
	{% if request.user.is_authenticated %}
    <div class="row">

        <div class="col-md-6">

          <div class="card mb-5">
            <div class="card-body">
              <h5 class="card-title">System status</h5>
              <h4 class="card-title text-center mb-5 fw-bold"><span id="systemStatus">Initializing</span></h4>
              <div class="d-flex justify-content-between">
                <div>
                  <button class="btn btn-info" id="coolingBtn">Cool</button>
                  <button class="btn btn-danger" id="heatingBtn">Heat</button>
                </div>
                <div>
                  <button class="btn btn-danger" id="stopBtn">Stop</button>
                </div>
              </div>
            </div>
          </div>


          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title mb-3">Coolant Temperature Settings</h5>
              <form method="POST" id="form">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="minValue" class="form-label">Minimum Value</label>
                  <input type="number" class="form-control" name="tempMinValue" id="tempMinValue" value="{{temp_min_value}}">
                </div>
                <div class="mb-3">
                  <label for="maxValue" class="form-label">Maximum Value</label>
                  <input type="number" class="form-control" name="tempMaxValue" id="tempMaxValue" value="{{temp_max_value}}">
                </div>
                <hr class="mb-3">
                <h5 class="card-title mb-3">Coolant Pressure Settings</h5>
                <div class="mb-3">
                  <label for="minValue" class="form-label">Minimum Value</label>
                  <input type="number" class="form-control" name="pressMinValue" id="pressMinValue" value="{{press_min_value}}">
                </div>
                <div class="mb-3">
                  <label for="maxValue" class="form-label">Maximum Value</label>
                  <input type="number" class="form-control" name="pressMaxValue" id="pressMaxValue" value="{{press_max_value}}">
                </div>
                <input type="submit" value="Set" class="btn btn-success w-100" id="startBtn">
              </form>
            </div>
          </div>

          <div class="card mt-3">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <h5 class="card-title">Temperature Data Table</h5>
                <a class="btn btn-primary" href="{% url 'download-temperature' %}" id="saveBtn">Save</a>
              </div>
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Times</th>
                      <th scope="col">Value</th>
                    </tr>
                  </thead>
                  <tbody id="dataTableBody">
                    {% for value in temp_data %}
                    <tr>
                      <td>{{value.id}}</td>
                      <td>{{ value.timestamp|date:"Y-m-d H:i:s" }}</td>
                      <td>{{value.value}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>

        <div class="col-md-6">

          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title text-center">Coolant Temperature</h5>
              <h5 class="card-title">Measured value: <span id="temperature"></span></h5>
              <canvas id="myChart1"></canvas>
            </div>
          </div>

          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title text-center">Coolant Pressure</h5>
              <h5 class="card-title">Measured value: <span id="pressure"></span></h5>
              <canvas id="myChart2"></canvas>
            </div>
          </div>

          <div class="card mt-3">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <h5 class="card-title">Pressure Data Table</h5>
                <a class="btn btn-primary" href="{% url 'download-pressure' %}" id="saveBtn">Save</a>
              </div>
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Times</th>
                      <th scope="col">Value</th>
                    </tr>
                  </thead>
                  <tbody id="dataTableBody">
                    {% for value in press_data %}
                    <tr>
                      <td>{{value.id}}</td>
                      <td>{{ value.timestamp|date:"Y-m-d H:i:s" }}</td>
                      <td>{{value.value}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
      </div>
      <script src="{% static 'scripts/script.js' %}"></script>

	{% else %}
    <div class="mt-5">
          <h1 class="text-danger text-center">You must be logged in to access this page!</h1>
      </div>
	{% endif %}
</div>
{% endblock %}