@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

.main {
	background-color: #eee;
	font-family: "Poppins", sans-serif;
}

.form {
	box-shadow: 0px 4px 12px -4px rgba(0, 0, 0, 1);
	margin: 2%;
	padding: 2%;
	border-radius: 10px;
	background-color: #d6e4e9;
}
